@tailwind base;
@tailwind components;
@tailwind utilities;

/* prime vue custom styles */

.p-menubar-root-list {
  width: 100% !important;
}

.p-menubar-button {
  margin-left: auto !important;
}

.p-button {
  padding: 0.3rem 0.6rem !important;
  font-size: 0.9rem !important;
  font-weight: bold !important;
}

.p-button-rounded {
  height: 2.357rem !important;
}
